@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color: var(--p-gray-300);
  --main-background-color: #fff;
  --inverter-background-color: #000;
  --sidebar-color: var(--p-slate-50);
  --sidebar-color-item-hover: var(--p-slate-200);

  --p-primary-color: var(--p-emerald-500) !important;
  --p-primary-hover-color: var(--p-emerald-700) !important;
  --p-primary-active-color: var(--p-emerald-600) !important;

  --bg-danger: var(--p-red-100) !important;
  --bg-green: var(--p-green-100) !important;

  --text-danger: var(--p-red-500) !important;
  --text-success: var(--p-green-700) !important;

  --main-container-bg: var(--p-slate-100) !important;

  --gradint-container: radial-gradient(circle, rgba(0, 128, 0, 0.3) 0%, rgba(0, 128, 0, 0) 70%);
  --card-main-background: rgba(255, 255, 255, 0.7);
}

.dark-mode {
  --background-color: var(--p-gray-950);
  --main-background-color: #000;
  --inverter-background-color: #fff;
  --sidebar-color: var(--p-gray-900);
  --sidebar-color-item-hover: var(--p-slate-500);

  --p-primary-color: var(--p-green-500) !important;
  --p-primary-hover-color: var(--p-green-400) !important;
  --p-primary-active-color: var(--p-emerald-600) !important;

  --bg-danger: var(--p-red-800) !important;
  --bg-green: var(--p-green-800) !important;

  --text-danger: var(--p-red-300) !important;
  --text-success: var(--p-green-300) !important;

  --main-container-bg: var(--p-slate-900) !important;
  --gradint-container: radial-gradient(circle, rgba(0, 255, 0, 0.3) 0%, rgba(0, 255, 0, 0) 70%);
  --card-main-background: rgba(24, 24, 27, 0.7);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    "Montserrat",
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  font-optical-sizing: auto;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}