@use './base' as base;

.login-container {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  transition: background-color 0.3s ease-in-out;

  .simple-link {
    text-decoration: none;
    color: var(--p-primary-color);
  }
}

.label {
  display: block;
  margin-bottom: 0.1rem !important;
  font-size: 1rem !important;
  color: var(--p-text-color) !important;
}